<%- include('partials/header'); -%>
    <h1>CONTACT PAGE</h1>
    <form action="/search" method="post" id="form">
        <input type="text" name="search_heading"class="form-control" placeholder="Enter The Title">
        <br>
        <button type="submit" class="btn btn-primary">SEARCH</button>
    </form>
    <%- include('partials/footer'); -%>